/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 oct. 2016, 22:26:14
    Author     : Nadir
*/
.form_user_profile{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
.form_user_profile input{
    margin: 10px auto;
    display: block;
    padding: 30px;
    border: none;
    resize: none;
    border-radius: 5px;
    font-family: sans-serif;
}
.form_user_profile .submit_user_profile{
    background-color: transparent;
    color: white;
    border-style: solid;
    border-width: 1px;
}
.form_user_profile p{
    text-align: center;
}
.titre_first_half p, .titre_second_half p, .titre_livres_activites{
    /*font-family: 'Kaushan Script', cursive;*/
    text-align: center;
    text-decoration: underline;
    font-size: 21px;
}
.dernieres_activites{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.une_activite{
    margin: 10px auto;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    display: block;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.msg_error_profile, .img_error_profile{
    display: none;
}
.msg_error_profile{
    color: red;
}
.une_activite:hover{
    color: black;
    background-color: rgba(255,255,255,0.8);
    transition: 1s;
    cursor: pointer;
    border-color: transparent;

}
.livres_activites{
    display: block;
    text-align: center;
}
.livres_activites .mes_livres, .livres_activites .livres_aimes{
    display: inline-block;
    width: 45%;
    border: solid;
    background-color: rgba(0,0,0,0.7);
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}
.livres_activites .mes_livres:hover, .livres_activites .livres_aimes:hover{
    color: black;
    background-color: rgba(255,255,255,0.8);
    transition: 1s;
    cursor: pointer;
    border-color: transparent;
}

.overlay_conteneur_profile{
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    width: 0%;
}

.conteneur0_img_profile{
    height: 100px;
    width: 20%;
    margin: 0 auto;
    background: rgba(0,0,0,0.7);
}
.nom_user_profile_conteneur{
    display: inline-block;
    position: absolute;

}
.change_baneer{
    position: relative;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.3);
    padding: 0;
    height: 0;
    border-top-right-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
.change_baneer p{
    display: none;
    margin: 0;
    padding: 0 10px;
}
#bg_image_profile{
    position: absolute;
    top: 0;
    height: 100%;
    width: 80%;
    left: 0;
    opacity: 0;
}
.valid_bg_change{
    padding: 0;
    border: none;
    height: 0;
    z-index: 10000;
}
.change_baneer_valid{
    position: relative;
    padding: 10px;
    bottom: -2px;
    background-color: rgba(255,255,255,0.3);
}
.change_baneer_valid p{
    margin: 0;
}
.banneer_traitement{
    position: absolute;
    bottom: 0;
    left: 5%;
}
.resizer_bg{
    position: absolute; 
    left: 5%;
}
.overlay_img_livre {
    text-align: center;
    opacity: 0.8;
    background-color: transparent;
    height: 85px !important;
    width: 100px !important;
    border-radius: 5px;
    margin: 0 auto;
}
.label_img_livre{
    height: 85px !important;
}